/** Box shadow system from Josh W Comeau
    https://www.joshwcomeau.com/css/designing-shadows/ */

.shadow-small {
  box-shadow: 0.5px 1px 1px hsl(var(--shadow-color) / 0.7);
}

.shadow-medium {
  box-shadow: 1px 2px 2px hsl(var(--shadow-color) / 0.333),
    2px 4px 4px hsl(var(--shadow-color) / 0.333),
    3px 6px 6px hsl(var(--shadow-color) / 0.333);
}

.shadow-large {
  box-shadow: 1px 2px 2px hsl(var(--shadow-color) / 0.2),
    2px 4px 4px hsl(var(--shadow-color) / 0.2),
    4px 8px 8px hsl(var(--shadow-color) / 0.2),
    8px 16px 16px hsl(var(--shadow-color) / 0.2),
    16px 32px 32px hsl(var(--shadow-color) / 0.2);
}

body {
  --shadow-color: 0deg 0% 50%;
  background-color: hsl(0deg 0% 95%);
}

body.blue {
  --shadow-color: 220deg 60% 50%;
  background-color: hsl(220deg 100% 80%);
}
